<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sent Contracts</title>
</head>
<body>
    <h4>📤 Sent Contracts</h4>
    <ul class="list-group">
      {% for contract in sent_contracts %}
        <li class="list-group-item">
          <strong>To:</strong> {{ contract.receiver_name or contract.receiver_id }} <br>
          <strong>Status:</strong> {{ contract.status }} <br>
          <em>{{ contract.terms }}</em>
        </li>
      {% else %}
        <li class="list-group-item">No sent contracts yet.</li>
      {% endfor %}
    </ul>


</body>
</html>